/* desktop 1250px */
@media screen and (max-width: 1250px) {
    .music-square{
        width: calc(100% / 5 - 20px);
    }
    
}
/* desktop 1100px */
@media screen and (max-width: 1100px) {
    .music-square{
        width: calc(100% / 4 - 20px);
    }
}
/* desktop 930px */
@media screen and (max-width: 930px) {
    .music-square{
        width: calc(100% / 3 - 20px);
    }
}
/* tablet 790px */
@media screen and (max-width: 790px) {
    .music-square{
        width: calc(100% / 2 - 20px);
    }
    .song-like{
        flex-direction: column;
        margin: 0px 10px;
    }

}
/* smartphone 590px */
@media screen and (max-width: 590px) {
    /* Upgrade */
    .upgrade-section{
        width: calc(100vw - 70px);
    }
    .nav-bar{
        display: none;
    }
    .smartphone-nav-bar{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 70px;
        padding: 20px;
        background-color: #000;
        font-weight: bold;
        color: #fff;
        position: relative;
    }
    #function-bar{
        width: 80%;
    }
    /* Big Icon */
    .function-bar-icon{
        max-width: 100%;
    }
    .music-square{
        width: calc(100% / 1 - 20px);
    }
}
